<div id="<%= dom_id photo %>">
  <p>
    <strong>Foto:</strong>
    <br>
    <img src="<%= url_for(photo.foto) %>" width="300" height="300" loading="lazy" />
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= photo.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= photo.longitude %>
  </p>

</div>
