<div id="<%= dom_id health_symptom %>">
  <p>
    <strong>Sintoma:</strong>
    <%= link_to health_symptom.sintoma, health_symptom %>
  </p>

  <p>
    <strong>Intensidade:</strong>
    <%= health_symptom.intensidade %>
  </p>

</div>
